
/* Colors
-----------
FeatherLight: #91C0E8
Light: #3F8FD2
Normal: #0B5FA5
Dark: #043C6B
Gray: #255547B
 */

body
{
	font-size: 0.9em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #222222;
    background-color: #FFFFFF;
    padding: 0;
	margin: 0;
}

h1
{
	border-bottom: 1px solid #3F8FD2;
	padding: 10px 30px;
	color: #0B5FA5;
	text-transform: uppercase;
	font-size: 1.5em;
	margin: 0;
	font-weight: normal;
}
h2
{
	
}

a
{
	text-decoration: none;
	color: #0B5FA5;
}

input[type=button].Button, input.Button, button
{
	color: #FFFFFF;
	border: none;
	background-color: #0B5FA5;
	border-radius: 5px 5px 5px 5px;
	padding: 5px 15px;
}

div.clear
{
	clear: both;
}

/* Main layout
-----------------------------------------------------------*/
div#top
{
}
div#top div#header
{
	background-color: #91C0E8;
	height: 80px;
	border-bottom: 1px solid #3F8FD2;
}
div#top div#header div#logo
{
	font-size: 30px;
	float: left;
	height: 60px;
	padding-top: 20px;
	padding-left: 30px;
}
div#top div#header div#logo a
{
	color: Black;
}
div#top div#header div#authentication
{
	float: right;
	height: 50px;
	padding-top: 30px;
	text-align: center;
}

div#mainMenuControl
{
	width: 200px;
	float: left;
}
div#mainMenuControl ul
{
	list-style: none;	
}
div#mainMenuControl div
{
	
}

div#frame
{
	float: left;	
}
div#footer
{
	clear: both;
}

/* Not Logged Layout
-----------------------------------------------------------*/
body.index h1
{
	border: none;
	padding: 0;
}
body.index div#frameWrapper
{
	width: 100%;
	margin-top: 30px;
}
body.index div#frame
{
	margin: auto;
	float: none;
	width: 700px;
}
body.index div#frameContent
{
}
body.index div#logOnWrapper
{
	float: right;
}
body.index div#welcome
{
	float: left;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #3F8FD2;
    padding:0 20px 5px 20px;
    margin:0 0 20px 0;
}
fieldset h2
{
	font-weight: normal;
	font-size: 1.2em;
}
fieldset p
{
	margin: 0;
}

fieldset input[type=button].Button, fieldset input.Button, fieldset button
{
	margin: 5px;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
    display: none;
}

textarea 
{
    min-height: 75px;
}

div.editor-group
{
	clear: both;
	margin: 5px 10px 0 10px;
	padding: 5px 0;
}

div.editor-label 
{
    float: left;
}

div.editor-field 
{
    float:right;
}

p.buttons
{
	text-align: center;
	margin-bottom: 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Data grid
----------------------------------------------------------*/
table.datagrid
{
	margin: 0px 10px;
	border-collapse: collapse;
	min-width: 600px;
}
table.datagrid th
{
	text-transform: uppercase;
	border-bottom: 2px solid #3F8FD2;
	font-weight: normal;
}
table.datagrid tr
{
	border-bottom: 1px solid #3F8FD2;
}
table.datagrid td
{
	padding: 5px 20px 5px 20px;
}
table.datagrid a.button
{
	padding: 2px 6px;
	border: 1px solid #3F8FD2;
	background-color: #FFFFFF;
	color: #0B5FA5;
}

/* Html extender
----------------------------------------------------------*/
a.button
{
	color: #FFFFFF;
	background-color: #0B5FA5;
	border-radius: 5px 5px 5px 5px;
	padding: 5px 15px;
}


/* LogOn Control
------------------------------------------------------------*/
div#logOnControl
{
	width: 300px;
}

/* Logged User Control
------------------------------------------------------------*/
div#loggedUserControl
{
	padding: 0 30px;
}
div#loggedUserControl span
{
	margin: 0 10px;
}

/* Create or Edit User form
------------------------------------------------------------*/
div#CreateOrEditForm
{
	
}
div#CreateOrEditForm div.editor-group
{
	clear: none;
}
div#CreateOrEditForm div#FormNameGroup
{
	width: 300px;
	float: left;
}
div#CreateOrEditForm div#FormNameGroup div.editor-label
{
	width: 60px;
}
div#CreateOrEditForm div#FormTypeGroup
{
	float: right;
	width: 200px;
}
div#CreateOrEditForm div#TextGroup textarea
{
	width: 450px;
}
div#CreateOrEditForm div#TimeToFillGroup
{
	float: left;
	width: 300px;
}
div#CreateOrEditForm div#ShuffleGroup
{
	float: right;
	width: 200px;
}

/* Create Edit Questions
------------------------------------------------------------*/
div#CreateEditQuestions
{
	border: 2px solid #3F8FD2;
	border-radius: 5px 5px 0 0;
	margin: 10px 20px 10px 20px;
	min-width: 700px;
}

div#CreateEditQuestionsHeader
{
	color: White;
	padding-left: 20px;
	border-bottom: 1px solid #3F8FD2;
	margin-bottom: 10px;
	background-color: #3F8FD2;
}
div#CreateEditQuestionsHeader h2
{
	display: inline-block;
	margin: 20px 20px 0 0;
}
div#CreateEditQuestionsHeader div#info
{
	display: inline;
}
div#CreateEditQuestionsHeader span
{
	padding: 20px;
	margin: 10px;
}
div#CreateEditQuestionsHeader p
{
	font-size: 0.9em;
	font-style: italic;
	margin-left: 20px;
	margin-top: 5px;
}

div.Question
{
	margin-bottom: 20px;
}
div.Question > fieldset
{
	margin: 0 20px 0 20px;
	padding: 0;
}
div.Question > fieldset fieldset
{
	margin: 0;
	border: none;
	border-bottom: 1px dashed #3F8FD2;
}
div.Question div.Header
{
	background-color: #3F8FD2;
	color: White;
}
div.Question div.Footer
{
	text-align: center;
}
div.Question h3
{
	display: inline-block;
	margin: 0;
	padding: 0 20px 0 20px;
}
div.Question a.button
{
	padding: 0px 8px;
	margin: 2px;
	font-size: 0.8em;
	border: 1px solid #3F8FD2;
	background-color: #FFFFFF;
	color: #0B5FA5;
	display: inline-block;
}

div#CreateNewQuestion
{
	margin: 0 20px 0 20px;
}
div#CreateNewQuestion h3
{
	display: inline-block;
	padding: 0;
	margin:0;
}
div#CreateNewQuestion div
{
	display: inline-block;
}

/* Test templates editing
------------------------------------------------------------*/
div.QuestionForm legend
{
	display: block;
}
div.QuestionForm p
{
	text-align: right;
}
div.QuestionForm div.editor-label
{
	width: 150px;
}
div.QuestionForm div.editor-field
{
	min-width: 400px;
}
div.QuestionForm  div.editor-field input
{
	width: 100%;
	min-width: 200px;
}
div.QuestionForm li div.editor-field
{
	display: inline-block;
	float: none;
}
div.QuestionForm li div.Check input
{
	width: 50px;
	min-width: 50px;
}