@using ELearning.Utils
@model ELearning.Models.Data.GroupModel

@{
    ViewBag.Title = ELearning.Localization.GetResourceString("ImportMembersFromGoogleGroup");
}

<h2>@Model.Name</h2>

<form action="/Group/ImportGoogleGroupUpload" method="post" enctype="multipart/form-data">
  <fieldset>
  @Html.HiddenFor(id => Model.ID)

  <div class="editor-group">
    <div class="editor-label">
        <label for="csvFile">@Html.ResourceString("GoogleGroupCsvFile")</label>
    </div>
    <div class="clear"></div>
    <div class="editor-field">
        <input type="file" name="csvFile" id="csvFile" />
    </div>
    <div class="clear"></div>
</div>

  <p class="center">
  <input type="submit" class="Button" value="@Html.ResourceString("ImportMembers")" />
  </p>
  </fieldset>
</form>