body
{
	font-size: 0.9em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: #222222;
    background-color: #FFFFFF;
    padding: 0;
	margin: 0;
}

h1
{
	border-bottom: 1px solid #E1DBFF;
	padding: 10px 30px;
	color: #8781FF;
	text-transform: uppercase;
	font-size: 1.5em;
	margin: 0;
	font-weight: normal;
}
h2
{
	
}

a
{
	text-decoration: none;
	color: #8781FF;
}

div.clear
{
	clear: both;
}

/* Main layout
-----------------------------------------------------------*/
div#top
{
}
div#top div#header
{
	background-color: #EDEAFE;
	height: 80px;
	border-bottom: 1px solid #E1DBFF;
}
div#top div#header div#logo
{
	font-size: 30px;
	float: left;
	height: 60px;
	padding-top: 20px;
	padding-left: 30px;
}
div#top div#header div#logo a
{
	color: Black;
}
div#top div#header div#authentication
{
	float: right;
	height: 50px;
	padding-top: 30px;
	text-align: center;
}

div#mainMenuControl
{
	width: 200px;
	float: left;
}
div#mainMenuControl ul
{
	list-style: none;	
}
div#mainMenuControl div
{
	
}

div#frame
{
	float: left;	
}
div#footer
{
	clear: both;
}

/* Not Logged Layout
-----------------------------------------------------------*/
body.index h1
{
	border: none;
	padding: 0;
}
body.index div#frameWrapper
{
	width: 100%;
	margin-top: 30px;
}
body.index div#frame
{
	margin: auto;
	float: none;
	width: 700px;
}
body.index div#frameContent
{
}
body.index div#logOnWrapper
{
	float: right;
}
body.index div#welcome
{
	float: left;
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #E1DBFF;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}
fieldset h2
{
	font-weight: normal;
	font-size: 1.2em;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
    display: none;
}

textarea 
{
    min-height: 75px;
}

div.editor-group
{
	clear: both;
	margin: 10px 0;
	padding: 5px 0;
}

div.editor-label 
{
    float: left;
}

div.editor-field 
{
    float:right;
}

p.buttons
{
	text-align: center;
	margin-bottom: 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Data grid
----------------------------------------------------------*/
table.datagrid
{
	margin: 0px 10px;
	border-collapse: collapse;
	min-width: 600px;
}
table.datagrid th
{
	text-transform: uppercase;
	border-bottom: 2px solid #E1DBFF;
	font-weight: normal;
}
table.datagrid tr
{
	border-bottom: 1px solid #E1DBFF;
}
table.datagrid td
{
	padding: 5px 20px 5px 20px;
}
table.datagrid a.button
{
	padding: 2px 6px;
	border: 1px solid #E1DBFF;
	background-color: #FFFFFF;
	color: #8781FF;
}

/* Html extender
----------------------------------------------------------*/
a.button
{
	color: #FFFFFF;
	background-color: #8781FF;
	border-radius: 5px 5px 5px 5px;
	padding: 5px 15px;
}


/* LogOn Control
------------------------------------------------------------*/
div#logOnControl
{
	width: 300px;
}

/* Logged User Control
------------------------------------------------------------*/
div#loggedUserControl
{
	padding: 0 30px;
}
div#loggedUserControl span
{
	margin: 0 10px;
}