<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  
  <!--DataModelContainer-->
  <add
    name="DataModelContainer_MBPC"
    connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MBPC\SQLEXPRESS;Initial Catalog=ELearning;Integrated Security=True;MultipleActiveResultSets=True&quot;"
    providerName="System.Data.EntityClient"/>

  <add
    name="DataModelContainer_MBVAIONB"
    connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MBVAIONB\SQLEXPRESS;Initial Catalog=ELearning;Integrated Security=True;MultipleActiveResultSets=True&quot;"
    providerName="System.Data.EntityClient"/>
  
  <add 
    name="DataModelContainer_AppHarbor" 
    connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=8414991a-6d24-4d96-b85a-9f91000af42b.sqlserver.sequelizer.com ;Initial Catalog=db8414991a6d244d96b85a9f91000af42b;Integrated Security=False;User ID=cdbyolefczygsdzs;Password=q4LAQ6uofZssXJtP7QMvVsMQ28ZvpRvBXJCnLQriWX2RjYwDKrrcCH67p5GQe77v;MultipleActiveResultSets=True&quot;" 
    providerName="System.Data.EntityClient"/>
  <!--//DataModelContainer-->

  <add
    name="DataModelContainer_Elearning"
    connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=elearning.robertsojak.cz;Initial Catalog=rsojak_elearning;Integrated Security=False;User ID=elearning;Password=bxc352;MultipleActiveResultSets=True&quot;"
    providerName="System.Data.EntityClient"/>

</connectionStrings>
