@using ELearning.Models.Data
@using ELearning.Utils
@model QuestionGroupModel


@foreach (QuestionModel question in Model.Questions)
{
    <div class="QuestionForm">
        @using (Html.BeginForm(string.Format("EditQuestion_{0}", Model.Type.Name), "Form", new { formID = Model.FormTemplateID, questionGroupID = Model.ID, questionID = question.ID } ))
        {
            <fieldset>
                @Html.ValidationSummary(true)

                @Html.Partial("Questions\\_EditQuestion", question)
                @Html.Partial(string.Format("Questions\\_EditQuestion_{0}", Model.Type.Name), question)
    
                <p>
                    <input type="submit" class="Button" value="SaveChanges" />
                </p>
            </fieldset>
        }
    </div>
}
