@model ELearning.Models.Data.FormModel

@{
    ViewBag.Title = "Testy";
}

<h2>New Test</h2>

<div id="CreateOrEditForm">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Form</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" class="Button" value="Create" />
        </p>
    </fieldset>
}
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


