@using ELearning.Utils
@using ELearning.Models.GeneralView
@model IEnumerable<ELearning.Models.Data.UserModel>

@{
    ViewBag.Title = "Users";
    ViewBag.TopButtons = new[] { new TopButtonModel("Create New", "Create", "User") };
}

<table class="datagrid">
    <tr>
        <th>
            Email
        </th>
        <th>
            Role
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
			@item.Email
        </td>
        <td>
			@(item.Type.Enum)
        </td>
        <td>
            @Html.ButtonLink("Reset password", string.Empty)
        </td>
        <td>
            @if (item.Email != Membership.GetUser().Email)
            {
                @Html.ButtonLink("X", "Delete", new { email = item.Email })
            }
        </td>
    </tr>
}

</table>


